#box1 {position: absolute;top: 0px;left: 0px; width: 1920px;height: 150px;background-color: dimgray;}
body {background-color: black}
#tittre {position: absolute;top: 0px;left: 800px; font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}
#logo {position: absolute; top: 10px; left: 5px}

#ep60 {position: absolute;top: 200px;left: 20px;}
img {width: 350px; height: auto}
p60 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep61 {position: absolute;top: 200px;left: 400px;}
img {width: 350px; height: auto}
p61 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep62 {position: absolute;top: 200px;left: 780px;}
img {width: 350px; height: auto}
p62 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep63 {position: absolute;top: 200px;left: 1160px;}
img {width: 350px; height: auto}
p63 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep64 {position: absolute;top: 200px;left: 1540px;}
img {width: 350px; height: auto}
p64 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep65 {position: absolute;top: 500px;left: 20px;}
img {width: 350px; height: auto}
p65 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep66 {position: absolute;top: 500px;left: 400px;}
img {width: 350px; height: auto}
p66 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep67 {position: absolute;top: 500px;left: 780px;}
img {width: 350px; height: auto}
p67 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep68 {position: absolute;top: 500px;left: 1160px;}
img {width: 350px; height: auto}
p68 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep69 {position: absolute;top: 500px;left: 1540px;}
img {width: 350px; height: auto}
p69 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep70 {position: absolute;top: 800px;left: 20px;}
img {width: 350px; height: auto}
p70 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep71 {position: absolute;top: 800px;left: 400px;}
img {width: 350px; height: auto}
p71 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep72 {position: absolute;top: 800px;left: 780px;}
img {width: 350px; height: auto}
p72 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep73 {position: absolute;top: 800px;left: 1160px;}
img {width: 350px; height: auto}
p73 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep74 {position: absolute;top: 800px;left: 1540px;}
img {width: 350px; height: auto}
p74 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}

#ep75 {position: absolute;top: 1100px;left: 20px;}
img {width: 350px; height: auto}
p75 {position: absolute;top: 200px;left: 130px;font-family: 'Bebas Neue', cursive;color: white;font-size: 30px}